absl-py
astor
astunparse
audioread
cachetools
certifi
cffi
chardet
cycler
decorator
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
idna
importlib-metadata
joblib
Keras-Applications
Keras-Preprocessing
kiwisolver
librosa
llvmlite
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
numba
numpy
oauthlib
opt-einsum
pandas
path
protobuf
pyaml
pyasn1
pyasn1-modules
PyAudio
pycparser
pydot
pydotplus
pyparsing
python-dateutil
python-speech-features
pytz
PyYAML
requests
requests-oauthlib
resampy
rsa
scikit-learn
scikit-optimize
scipy
seaborn
six
SoundFile
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
tornado
urllib3
Werkzeug
wrapt
zipp
